<div class="row">
  <form class="form col-lg-10" (submit)="createLecture(newLecture)">
    <div class="form-group">
      <label for="name">Name</label>
      <input id="name" type="text" [(ngModel)]="newLecture.name" name="name" class="form-control" placeholder="Name...">
    </div>
    <div class="form-group">
      <label for="abbreviation">Abkürzung</label>
      <input id="abbreviation" type="text" [(ngModel)]="newLecture.abbreviation" name="name" class="form-control" placeholder="Abkürzung...">
    </div>
    <div class="form-group">
      <label for="room">Raum</label>
      <select class="form-control" [(ngModel)]="newLecture.room" name="room" id="room">
        <option *ngFor="let r of rooms" [ngValue]="r">{{r.name}}</option>
      </select>
    </div>
    <button type="submit" class="btn btn-success" [disabled]="!newLecture.name || !newLecture.abbreviation || !newLecture.room">Neue Vorlesung anlegen</button>
  </form>
</div>
<table class="table">
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Abkürzung</th>
    <th>Raum</th>
    <th></th>
  </tr>
  <tr *ngFor="let lecture of lectures">
    <td>{{lecture.id}}</td>
    <td>{{lecture.name}}</td>
    <td>{{lecture.abbreviation}}</td>
    <td *ngIf="lecture.room">{{lecture.room.name}}</td>
    <td><a href="#" class="badge badge-danger" (click)="deleteLecture(lecture, $event)">Löschen</a></td>
  </tr>
</table>
