<div class="float-left">
  <form class="form" (submit)="createStudent(newStudent)">
    <div class="form-group">
      <label for="name">Name</label>
      <input id="name" type="text" [(ngModel)]="newStudent.name" name="name" class="form-control" placeholder="Name...">
    </div>
    <div class="form-group">
      <label for="room">Vorlesungen</label>
      <select class="form-control" [(ngModel)]="newStudent.lectures" name="room" id="room" multiple>
        <option *ngFor="let l of lectures" [ngValue]="l">{{l.abbreviation}} - {{l.name}}</option>
      </select>
    </div>
    <button type="submit" class="btn btn-success" [disabled]="!newStudent.name">Neuen Studenten anlegen</button>
  </form>
</div>
<table class="table">
  <tr>
    <th>Id</th>
    <th>Name</th>
  </tr>
  <tr *ngFor="let student of students">
    <td>{{student.id}}</td>
    <td>{{student.name}}</td>
  </tr>
</table>

