<div class="row">
  <form class="form col-lg-10" (submit)="createRoom(newRoom)">
    <div class="form-group">
      <label for="name">Raumname</label>
      <input id="name" type="text" [(ngModel)]="newRoom.name" name="name" class="form-control"
             placeholder="Raumname...">
    </div>
    <button type="submit" class="btn btn-success" [disabled]="!newRoom.name">Neuen Raum anlegen</button>
  </form>
</div>
<table class="table">
  <tr>
    <th>Id</th>
    <th>Raumname</th>
    <th></th>
  </tr>
  <tr *ngFor="let room of rooms">
    <td>{{room.id}}</td>
    <td>{{room.name}}</td>
    <td><a href="#" class="badge badge-danger" (click)="deleteRoom(room, $event)">Löschen</a></td>
  </tr>
</table>

